$bg-black: #000;
$bg-sky-blue: #8acdea;
$bg-paynes-grey: #4e6883;
$bg-midnight-blue: #17195f;
$bg-ocean-boat-blue: #007ac071;
$bg-darkt-angerine: #fdcc26;
$bg-red: #98332d;
body {
    background-color: $bg-black;
    background-image: url(../mapa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
}
#exchangeRate{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

#td-0 {
    background: url("../flags/united-states-of-america.png") no-repeat 2px;
}

#td-1 {
    background: url("../flags/australia.png") no-repeat 2px;
}

#td-2 {
    background: url("../flags/canada.png") no-repeat 2px;
}

#td-3 {
    background: url("../flags/european-union.png") no-repeat 2px;
}

#td-4 {
    background: url("../flags/hungary.png") no-repeat 2px;
}

#td-5 {
    background: url("../flags/switzerland.png") no-repeat 2px;
}

#td-6 {
    background: url("../flags/united-kingdom.png") no-repeat 2px;
}

#td-7 {
    background: url("../flags/japan.png") no-repeat 2px;
}

#td-8 {
    background: url("../flags/czech-republic.png") no-repeat 2px;
}

#td-9 {
    background: url("../flags/denmark.png") no-repeat 2px;
}

#td-10 {
    background: url("../flags/norway.png") no-repeat 2px;
}

#td-11 {
    background: url("../flags/sweden.png") no-repeat 2px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: $bg-darkt-angerine;
}

[id*="td-"] {
    padding-left: 35px;
    text-align: left;
    white-space: nowrap;
}


table{
    width: 420px;
    margin: 0 auto;
}

thead {
    background-color: $bg-red;
    color: white;
}

th{
    padding: 5px;
}
tbody tr {
    background-color: #04438b; // dla IE
    background-color: $bg-ocean-boat-blue;
    color: antiquewhite;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

tbody tr:nth-child(even) {
    background-color: $bg-sky-blue;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    color: #17195f;
}
.alert{
    color: #fc0000;
    font-size: 1.2em;
}
